@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="EmployeeCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <fieldset>
        <legend>Search Options</legend>
        <div class="form-group">
            <label for="searchFullName" class="col-md-2 control-label">Full Name</label>
            <div class="col-md-10">
                <input type="text" id="searchFullName" ng-model="searchForm.name" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="searchTitle" class="col-md-2 control-label">Title</label>
            <div class="col-md-10">
                <input type="text" id="searchTitle" ng-model="searchForm.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="searchLocation" class="col-md-2 control-label">Location</label>
            <div class="col-md-10">
                <input type="text" id="searchLocation" ng-model="searchForm.location" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="searchEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="text" id="searchEmail" ng-model="searchForm.email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button ng-click="searchForm.submit()" class="btn btn-primary">Search</button>
            </div>
        </div>
    </fieldset>
    <div style="clear: both;">
    </div>
    <loading></loading>
    <div class="gridStyle" ng-grid="gridOptions">
    </div>

</div>

<div class="loading" id="modalPopupContainer" style="display: none; position: absolute; left: 50%; top: 50%; width: 630px; height: 450px; margin-left: -300px; margin-top: -200px; z-index: 100; box-shadow: black 3px 3px none; background-color: white; padding: 5px;">
    <iframe style="width: 620px; height: 400px;" id="modalIframe"></iframe>
    <div style="text-align: center" class="background-color: silver; border-top: 1px solid black;">
        <button onclick="closeModal()" class="btn btn-link">Close</button>
    </div>
</div>

<script type="text/javascript">
    function closeModal() {
        $("#modalPopup").empty();
        $("#modalPopupContainer").hide();
    }
    function openForEdit(id) {
        var url = "/Home/Edit?id=" + id;

        $("#modalPopupContainer").show();

        $.get(url)
          .success(function (data) {
              $("#modalIframe").attr('src', url);
          });

        return false;
    }
</script>